<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='w_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='log_style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sub_style.css') }}">
    <title>회원가입</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Hahmlet&display=swap');

        /* 글꼴을 적용할 클래스 */
        * {
            font-family: "Hahmlet", serif;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>


</head>

<body>

    <nav class="navbar border-bottom border-body justify-content-space-between" data-bs-theme="white">
        <div class="ms-3 d-flex align-items-center">
            <img src="{{ url_for('static', filename='images/logo.png') }}" id=ms-3_img alt="로고">
        </div>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" id="spartime_banner" href="#">스파르타임</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        </div>
        <div class="ms-auto">
            <div class="menu">
                <a class="nav-link" href="/">게시판</a>
            </div>
            <div class="menu">
                <a class="nav-link" href="/writing.html">글쓰기</a>
            </div>
            <div class="menu">
                <a class="nav-link" href="/register">회원가입</a>
            </div>
            <div class="menu">
                <a class="nav-link" href="/login.html">로그인</a>
            </div>


        </div>
    </nav>
    <form action="/login.html" id="regist_form" method="POST">
        <table>
            <tr>
                <td>
                    <h2> 회원가입 </h2>
                </td>
            </tr>
            <tr>
                <td class="username">사용자이름</td>
            </tr>
            <tr>
                <td><input type="text" placeholder="이름을 입력하세요" id="username" name="username"></td>
            </tr>
            <!-- 이부분 수정부탁드립니다 -->
            <tr>
                <td class="name-check-warning" id="name-check-warning" style="display: none;">해당 이름은 이미 존재합니다.</td>
                <td class="name-len-check-warning" id="name-len-check-warning" style="display: none;">이름은 2자~15자 이내여야
                    합니다.</td>
            </tr>
            <!-- 여기까지 -->
            <tr>
                <td class="id">아이디</td>
            </tr>
            <tr>
                <td><input type="text" id="id" name="id"></input></td>
            </tr>
            <!-- 이부분 수정부탁드립니다 -->
            <tr>
                <td class="id-check-warning" id="id-check-warning" style="display: none;">해당 아이디는 이미 존재합니다.</td>
                <td class="id-len-check-warning" id="id-len-check-warning" style="display: none;">아이디는 6자~12자 이내여야 합니다.
                </td>
            </tr>
            <!-- 여기까지 -->
            <tr>
                <td class="password">비밀번호</td>
            </tr>
            <tr>
                <td><input type="password" id="password" name="password"></input></td>
            </tr>
            <!-- 이부분 수정부탁드립니다 -->
            <tr>
                <td class="pw-check-warning" id="pw-check-warning" style="display: none;">비밀번호가 일치하지 않습니다</td>
                <td class="pw-len-check-warning" id="pw-len-check-warning" style="display: none;">비밀번호는 8자~20자 이내여야 합니다.
                </td>
            </tr>
            <!-- 여기까지 -->
            <tr>
                <td class="confirm_password">비밀번호 확인</td>
            </tr>
            <tr>
                <td><input type="password" id="confirm_password" name="confirm_password"></input></td>
            </tr>

            <tr>
                <td class="text-end">
                    <input type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#successModal"
                        value="회원가입" onclick="submit_form(event)"></input>
                </td>
            </tr>
        </table>
    </form>

    <script>
        // 비밀번호 확인 검사
        function pw_check(event) {
            event.preventDefault()
            pw = document.getElementById("password").value;
            confirm_pw = document.getElementById("confirm_password").value;
            if (pw == confirm_pw) {
                document.getElementById("pw-check-warning").style.display = "none";
                return true
            }
            else {
                document.getElementById("pw-check-warning").style.display = "block";
                return false
            }
        }

        // 중복 닉네임 검사
        function exist_name(event) {
            event.preventDefault()
            input_name = document.getElementById("username").value;
            toggle = false
            fetch('/register/check/name', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ data: input_name })
            })
                .then(response => response.json())
                .then(result => {
                    if (result.exists) {
                        document.getElementById("name-check-warning").style.display = "block";
                        toggle = false
                    } else {
                        document.getElementById("name-check-warning").style.display = "none";
                        toggle = true
                    }
                })
                .catch(error => console.error('Error:', error));
            if (toggle) {
                return true
            } else {
                return false
            }
        }

        // 중복 아이디 검사
        function exist_id(event) {
            event.preventDefault()
            input_id = document.getElementById("id").value;
            toggle = false
            fetch('/register/check/id', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ data: input_id })
            })
                .then(response => response.json())
                .then(result => {
                    if (result.exists) {
                        document.getElementById("id-check-warning").style.display = "block";
                        toggle = false
                    } else {
                        document.getElementById("id-check-warning").style.display = "none";
                        toggle = true
                    }
                })
                .catch(error => console.error('Error:', error));
            if (toggle) {
                return true
            } else {
                return false
            }
        }

        function name_len_check(event) {
            event.preventDefault()
            input_name = document.getElementById("username").value;
            if (input_name.length < 2 || input_name.length > 15) {
                document.getElementById("name-len-check-warning").style.display = "block";
                return false
            } else {
                document.getElementById("name-len-check-warning").style.display = "none";
                return true
            }
        }

        function id_len_check(event) {
            event.preventDefault()
            input_id = document.getElementById("id").value;
            if (input_id.length < 6 || input_id.length > 12) {
                document.getElementById("id-len-check-warning").style.display = "block";
                return false
            } else {
                document.getElementById("id-len-check-warning").style.display = "none";
                return true
            }
        }

        function pw_len_check(event) {
            event.preventDefault()
            input_pw = document.getElementById("password").value;
            if (input_pw.length < 8 || input_pw.length > 20) {
                document.getElementById("pw-len-check-warning").style.display = "block";
                return false
            } else {
                document.getElementById("pw-len-check-warning").style.display = "none";
                return true
            }
        }

        function submit_form(event) {
            if (pw_check(event) && exist_name(event) && exist_id(event) && name_len_check(event) && id_len_check(event) && pw_len_check(event)) {
                document.getElementById("regist_form").submit();
                console.log('submit')
            }
            else {
                console.log(pw_check(event) + " " + exist_name(event) + " " + exist_id(event) + " " + name_len_check(event) + " " + id_len_check(event) + " " + pw_len_check(event))
            }
        }
    </script>

</body>

</html>