<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style2.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='w_style.css') }}">
</head>

<body>
    <nav class="navbar border-bottom border-body justify-content-space-between " data-bs-theme="white">
        <div class="ms-3 d-flex align-items-center">
            <img src="https://postfiles.pstatic.net/MjAyNDA0MDJfMjA0/MDAxNzEyMDUzNTg2MzA4.bBTRt6qjNaELTNrH9sOoF14WWyarzjSCQ1fmgWObFVgg.cLeRNAaZEJjN9Dqhx-oN0DJeIlNIQ6cfwhngGlGLQMYg.PNG/%EC%8A%A4%ED%8C%8C%EB%A5%B4%ED%83%80%EC%9E%84_%EB%A1%9C%EA%B3%A0.png?type=w966"
                alt="">
            <nav class="navbar navbar-expand-lg ">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" id="main-heading" aria-current="page" href="#">스파르타임</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="ms-auto">
            <div class="menu">
                <a class="nav-link" href="/">게시판</a>
            </div>
            <div class="menu">
                <a class="nav-link" href="/writing.html">글쓰기</a>
            </div>
            <div class="menu">
                <a class="nav-link" href="/register">회원가입</a>
            </div>
            <div class="menu">
                <a class="nav-link" href="/login">로그인</a>
        </div>
    </nav>

    <!-- 글 작성 폼 -->
    <div class="navbar-divider"></div>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-DsjeH80DK9jLDowz+UAfPpB8HqXsPi0ekftbg4E5Lxlz+4fq1I0P1NddThf2I3um"
            crossorigin="anonymous"></script>
        <form action="/post" method="POST">
            <table>
                <tr>
                    <td>
                        <h2>글쓰기</h2>
                    </td>
                </tr>
                <tr>
                    <td class="header">제목</td>
                </tr>
                <tr>
                    <td><input type="text" placeholder="제목을 입력하세요" name="title"></td>
                </tr>
                <tr>
                    <td class="header">내용</td>
                </tr>
                <tr>
                    <!-- name=content 가 아니였음 !! -->
                    <td><textarea placeholder="내용을 입력하세요" name="content"></textarea></td>
                </tr>
                <tr>
                    <td>
                        <button id="postButton" class="btn btn-primary">게시</button>
                        <button id="cancelButton" class="btn btn-secondary">작성 취소</button>
                    </td>
                </tr>
            </table>
        </form>

        <!-- 댓글 삭제 폼 -->
        {% if data %}
        {% for comment in data.comments %}
        <form action="/post/{{ data.post.post_id }}/delete/{{ comment.comment_id }}" method="POST">
            <button type="submit">삭제</button>
        </form>
        {% endfor %}
        {% endif %}
    </body>
</body>

</html>
